.container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  padding: 40px 0; 
  padding-top: 0px;
}

.more-results-btn {
    width: 185px;
    height: 40px;
    background-color: gray;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 30px; 
    cursor: pointer;
    text-align: center;
    display: block;
    margin: 0 auto; 
    margin-top: 50px;
  }
  
  .more-results-btn:hover {
    background-color: lightgray; 
  }
  