:root {
  --primary-color: #F8D7DA;
  --secondary-color: #C8A2C8;
  --accent-color: #bfa59b;
  --highlight-color: #E6DFF1;
  --background-color: #FBF8F5;
  --border-color: #480523;
  --text-color: #2e2a22;
  --hover-background: #7d214b;
}

body {
  margin: 0;
  padding: 20px;
  font-family: 'Arial', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}