body {
    background-color: #f0f0f0;
}

h1 {
    font-size: 5rem;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700; 
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: #565252;
    color: #fff;
    border-radius: 20px;
    padding: 5px 10px;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 5%;
    height: 40px;
    width: 600px; /* Adjust width as needed */
}

.search-bar form {
    display: flex;
    align-items: center;
    width: 100%;
}

.search-bar input {
    border: none;
    outline: none;
    margin-left: 10px;
    width: 100%;
    background: transparent;
    color: #fff;
}

.search-bar input::placeholder {
    color: #fdf4f4;
}

.search-bar .input {
    flex: 1;
}

.search-bar .input:focus {
    outline: none;
}

.search-bar svg {
    color: #fff;
    height: 20px;
}
